<html>
    <head><title>Curren$y</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
        <!--    styles   -->              
    <style>
        body {
            background-image: url("https://video-images.vice.com/articles/5c536dab2cea5b00074d2699/lede/1548972023201-5T7A3900.jpeg?crop=1xw%3A0.84375xh%3Bcenter%2Ccenter&resize=2000%3A*");
                background-repeat:no-repeat;
               background-size:cover;
               color: antiquewhite;
        }
        h1 {
            color: black;
            text-align: center;
        } h6 {
            color: crimson;
            text-align: center;
        }.footer{
            background: crimson ;
            color:white;
        }    
        </style>
    </head>
    <body>
            <%- include('nav'); -%>

        <h1>Curren$y</h1>
        <h2>Bio</h2>
        <ul>
            <% str.forEach(function(i){ %>
                <li><h3>Name:</h3><%= i.artists.currensy.name%></li>
                <li><h3>Age:</h3><%= i.artists.currensy.age%></li>
                <li><h3>Profession</h3><%= i.artists.currensy.profession%></li>
                <li><h3>Hobbies</h3><%= i.artists.currensy.hobbies%></li>
            <%});%>
        </ul>
        <p>Shante Scott Franklin (born April 4, 1981), better known by his stage name Currensy (stylized as Curren$y)<br> is an American rapper, songwriter, entrepreneur and record executive. 
                He was one of the original members of Young Money Entertainment,<br> a label founded by Lil Wayne.</p>


        
        <!-- new paypal button  -->
           <center>
                <h6><b>Buy Music!</b></h6> 
               <form action="/pay" method="post">
                <input type="submit" value="Buy">
            </form>
        </center>
            
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <div class="footer">
        <!-- footer -->
        <div class="mt-2 pt-2 pb-2 footer">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-5 col-xs-5 about-company">
                      <h2>About Us  </h2>
                      <p class="pr-5 text-white-50">I am a heavy collaborator looking to bring value to my team.</p>
            
                    </div>
                  </div>
                </div>
                </div>   
          </div>
    </body>
</html>